html, body {
  height: 100%;
}

body{
  font-size: 10px;
  background-color: rgb(149, 194, 215);
  
    diplay: flex;
  flex-direction: column;
}

.detail-image {
  width: 90%;
}


.thumbnail-item {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;

  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgb(100%, 100%, 100%, 0.8);
}

.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}

.thumbnail-list {
  list-style: none;
  padding: 0;

  flex: 0 1 auto;
  order: 2;
  display: flex;
  justified-content: space-between;
  white-space: nowrap;
  overflow-x: auto;
}

.thumbnail-title{
  display: block;
  margin: 0;
  padding: 4px 10px;
  
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  
  font-size: 18px;
}

.thumbnail-image {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.main-header {
  flex: 0 1 auto;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.logo-text {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 37px;
  font-family: sans-serif;
}

.detailed-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-frame{
  position: relative;
  text-align: center;
}

.detail-image-title {
  position: absolute;
  bottom: -16px;
  left: 4px;
  font-family: helvetica;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.9);
  font-size: 40px;
}


#pidge {
  background: green;
}

#hunk {
  background: yellow;
}

#lance{
  background: red;
}

#adora {
  background: blue; 
}

#kieth {
  background: black;
}

@media all and (min-width: 768px) {
  /* styles go here*/
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail-list {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
  }

  .thumbnail-item {
    max-width: 260px;
  }

  .thumbnail-item + .thumbnail-item {
    margin-top: 20px;
  }
}
